{
  "Entries": [
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:28:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablee3762e5e\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A28%3A39.7590536Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttablee3762e5e\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttablee3762e5e",
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee3762e5e",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:28:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rk0\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022value\u0022: 1}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A28%3A40.5550088Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee3762e5e(PartitionKey=\u0027pk\u0027,RowKey=\u0027rk0\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee3762e5e/$metadata#uttablee3762e5e/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A28%3A40.5550088Z\u0027\u0022",
        "PartitionKey": "pk",
        "RowKey": "rk0",
        "value": 1,
        "Timestamp": "2021-09-29T20:28:40.5550088Z"
      }
    },
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee3762e5e()?$filter=aaa bbb ccc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:28:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022InvalidInput\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022Request url is invalid.\\r\\nActivityId: f8fb7871-64e0-47b9-88d8-d495134ef29d, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:f8fb7871-64e0-47b9-88d8-d495134ef29d\\n\u0022}}}\r\n"
      ]
    },
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttablee3762e5e\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:28:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
