{
  "Entries": [
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:38:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable6cf731a9\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A38%3A23.9879176Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable6cf731a9\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable6cf731a9",
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/querytable6cf731a9",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:38:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk6cf731a9\u0022, \u0022PartitionKey@odata.type\u0022: \[...]
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/querytable6cf731a9()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:38:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.type": "scbeddtablesprim.querytable6cf731a9",
            "odata.id": "https://scbeddtablesprim.table.cosmos.azure.com/querytable6cf731a9(PartitionKey=\u0027pk6cf731a9\u0027,RowKey=\u0027rk6cf731a91\u0027)",
            "odata.editLink": "querytable6cf731a9(PartitionKey=\u0027pk6cf731a9\u0027,RowKey=\u0027rk6cf731a91\u0027)",
            "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A38%3A25.7118216Z\u0027\u0022",
            "PartitionKey": "pk6cf731a9",
            "RowKey": "rk6cf731a91",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00.0000000Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00.0000000Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2021-09-29T20:38:25.7118216Z"
          },
          {
            "odata.type": "scbeddtablesprim.querytable6cf731a9",
            "odata.id": "https://scbeddtablesprim.table.cosmos.azure.com/querytable6cf731a9(PartitionKey=\u0027pk6cf731a9\u0027,RowKey=\u0027rk6cf731a912\u0027)",
            "odata.editLink": "querytable6cf731a9(PartitionKey=\u0027pk6cf731a9\u0027,RowKey=\u0027rk6cf731a912\u0027)",
            "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A38%3A25.7431560Z\u0027\u0022",
            "PartitionKey": "pk6cf731a9",
            "RowKey": "rk6cf731a912",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00.0000000Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00.0000000Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2021-09-29T20:38:25.7431560Z"
          }
        ],
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#querytable6cf731a9"
      }
    },
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable6cf731a9\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:38:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027querytable6cf731a9\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:38:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
