{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:20:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablee9e129dd\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://scbeddtablesprim.table.core.windows.net/Tables(\u0027uttablee9e129dd\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablee9e129dd"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablee9e129dd",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:20:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pke9e129dd\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rke9e129dd\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022Description\u0022: \u0022\\ua015\u0022, \u0022Description@odata.type\u0022: \u0022Edm.String\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A20%3A48.0516026Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.core.windows.net/uttablee9e129dd(PartitionKey=\u0027pke9e129dd\u0027,RowKey=\u0027rke9e129dd\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "{\u0022odata.metadata\u0022:\u0022https://scbeddtablesprim.table.core.windows.net/$metadata#uttablee9e129dd/@Element\u0022,\u0022odata.etag\u0022:\u0022W/\\\u0022datetime\u00272021-09-29T20%3A20%3A48.0516026Z\u0027\\\u0022\u0022,\u0022PartitionKey\u0022:\u0022pke9e129dd\u0022,\u0022RowKey\u0022:\u0022rke9e129dd\u0022,\u0022Timestamp\u0022:\u00222021-09-29T20:20:48.0516026Z\u0022,\u0022Description\u0022:\u0022\\ua015\u0022}"
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablee9e129dd()?$filter=PartitionKey eq %27pke9e129dd%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:20:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "{\u0022odata.metadata\u0022:\u0022https://scbeddtablesprim.table.core.windows.net/$metadata#uttablee9e129dd\u0022,\u0022value\u0022:[{\u0022odata.etag\u0022:\u0022W/\\\u0022datetime\u00272021-09-29T20%3A20%3A48.0516026Z\u0027\\\u0022\u0022,\u0022PartitionKey\u0022:\u0022pke9e129dd\u0022,\u0022RowKey\u0022:\u0022rke9e129dd\u0022,\u0022Timestamp\u0022:\u00222021-09-29T20:20:48.0516026Z\u0022,\u0022Description\u0022:\u0022\\ua015\u0022},{\u0022odata.etag\u0022:\u0022W/\\\u0022datetime\u00272021-09-29T20%3A20%3A48.0766208Z\u0027\\\u0022\u0022,\u0022PartitionKey\u0022:\u0022pke9e129dd\u0022,\u0022RowKey\u0022:\u0022test2\u0022,\u0022Timestamp\u0022:\u00222021-09-29T20:20:48.0766208Z\u0022,\u0022Description\u0022:\u0022\\ua015\u0022}]}"
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:20:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttablee9e129dd"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablee9e129dd\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:20:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
