{
  "Entries": [
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablee6713031\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A06%3A42.8511240Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttablee6713031\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttablee6713031",
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee6713031",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pke6713031\u0022, \u0022PartitionKey@odata.type\u0022: \u00[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_a248056a-9ebf-4794-8ffd-5f5a98bf32d5",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9hMjQ4MDU2YS05ZWJmLTQ3OTQtOGZmZC01ZjVhOThiZjMyZDUNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfNDQ4OTRjMmEtNmY1Ny00MGExLTkyNDgtZTFjM2FhYmIwMjRkDQoNCi0tY2hhbmdlc2V0XzQ0ODk0YzJhLTZmNTctNDBhMS05MjQ4LWUxYzNhYWJiMDI0ZA0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUE9T[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee6713031(PartitionKey=\u0027pke6713031\u0027,RowKey=\u0027rke6713031\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A06%3A43.3935368Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/uttablee6713031/$metadata#uttablee6713031/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A06%3A43.3935368Z\u0027\u0022",
        "PartitionKey": "pke6713031",
        "RowKey": "rke6713031",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2021-09-29T20:06:43.3935368Z"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttablee6713031"
          }
        ],
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttablee6713031\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:06:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
