{
  "Entries": [
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable24f934ac\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A09%3A25.9890696Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable24f934ac\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable24f934ac",
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttable24f934ac",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk24f934ac\u0022, \u0022PartitionKey@odata.type\u0022: \u00[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_14eeb3cd-1939-4024-9b2d-9383907c74cc",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8xNGVlYjNjZC0xOTM5LTQwMjQtOWIyZC05MzgzOTA3Yzc0Y2MNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfZjhjODlkNGItOTU2MS00NjI1LWI5OTItYWU5NDhjYTQ0ZTE3DQoNCi0tY2hhbmdlc2V0X2Y4Yzg5ZDRiLTk1NjEtNDYyNS1iOTkyLWFlOTQ4Y2E0NGUxNw0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUE9T[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttable24f934ac(PartitionKey=\u0027pk24f934ac\u0027,RowKey=\u0027rk24f934ac\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A09%3A26.6494472Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/uttable24f934ac/$metadata#uttable24f934ac/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A09%3A26.6494472Z\u0027\u0022",
        "PartitionKey": "pk24f934ac",
        "RowKey": "rk24f934ac",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2021-09-29T20:09:26.6494472Z"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable24f934ac"
          }
        ],
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable24f934ac\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:09:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
