{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=fe2bb1fd-2592-4a2f-ae44-b36b9357878e\u0026client_secret=833c45e9-84b5-45cc-9188-878f31bb4cfc\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Imwzc1EtNTBjQ0g0eEJWWkxIVEd3blNSNzY4MCIsImtpZCI6Imwzc1EtNTBjQ0g0eEJWWkxIVEd3blNSNzY4MCJ9.eyJhdWQiOiJodHRwczovL3N0b3JhZ2UuYXp1cmUuY29tIiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3LyIsImlhdCI6MTYzMjk0NTM5NCwibmJmIjoxNjMyOTQ1Mzk0LCJleHAiOjE2MzMwMzIwOTQsImFpbyI6IkUyWmdZQkRMZTNKZUlHaDJybmJCbEhjZnJtYXdBd0E9IiwiYXBwaWQiOiJmZTJiYjFmZC0yNTkyLTRhMmYtYWU0NC1iMzZiOTM1Nzg3OGUiLCJhcHBpZGFjciI6IjEiLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwib2lkIjoiYjUxYTNiOTgtM2JkYi00MDM5LTk5MDItYjAyZjkzY2RlMGI2IiwicmgiOiIwLkFRRUF2NGo1Y3ZHR3IwR1JxeTE4MEJIYlJfMnhLXzZTSlM5S3JrU3phNU5YaDQ0YUFBQS4iLCJzdWIiOiJiNTFhM2I5OC0zYmRiLTQwMzktOTkwMi1iMDJmOTNjZGUwYjYiLCJ0aWQiOiI3MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDciLCJ1dGkiOiJvQmt4QkV2dktFQ1FhZmltb0lFT0FBIiwidmVyIjoiMS4wIn0.DubrgyE0A-jC_hOw26iF3ReoWDcMPhC1cbzy-40wtlMewm__LPxhpJGbideF3y4c7hyexm2XxpY_1Is6eRAI7vR8lwAbtsnddBcQTMwZqM9m2xzlWnNt7cexc8dWHBVS_TjIYAcjWPCkJp735UIEZoiOucFhK3m5Lng4hcMEexyb6f_1SxohJ00Cp45Aqb1ucvpNrh5zV85k-CUpdt-0s2pA60J4fooxuUIsh7tDG8nQUvh8WDb7hIaFGe1lxDPVh5RYyfMiPE34eiRZv7x5HuMB85gzyEndTPE7wZX-_n9BHzyEmDbPNIERdcsYkTXwadMobIsbx99M1-JO53-CCA"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablefd1526ef\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://scbeddtablesprim.table.core.windows.net/Tables(\u0027uttablefd1526ef\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablefd1526ef"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablefd1526ef",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkfd1526ef\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Ed[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablefd1526ef(PartitionKey=\u0027pkfd1526ef\u0027,RowKey=\u0027rkfd1526ef\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkfd1526ef\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rkfd1526ef\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022age\u0022: \u0022abc\u0022, \u0022age@odata.type\u0022: \u0022Edm.String\u0022, \u0022sex\u0022: \u0022female\u0022, \u0022sex@odata.type\u0022: \u0022Edm.String\u0022, \u0022sign\u0022: \u0022aquarius\u0022, \u0022sign@odata.type\u0022: \u0022Edm.String\u0022, \u0022birthday\u0022: \u00221991-10-04T00:00:00.000000Z\u0022, \u0022birthday@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A01%3A34.7839796Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablefd1526ef(PartitionKey=\u0027pkfd1526ef\u0027,RowKey=\u0027rkfd1526ef\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A01%3A34.7839796Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#uttablefd1526ef/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A01%3A34.7839796Z\u0027\u0022",
        "PartitionKey": "pkfd1526ef",
        "RowKey": "rkfd1526ef",
        "Timestamp": "2021-09-29T20:01:34.7839796Z",
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00Z",
        "age": "abc",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1991-10-04T00:00:00Z",
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "deceased": false,
        "double": 5.0,
        "evenratio": 3.0,
        "large": 933311100,
        "married": true,
        "other": 20,
        "ratio": 3.1,
        "sex": "female",
        "sign": "aquarius"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttablefd1526ef"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablefd1526ef\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:01:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
