{
  "Entries": [
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:42:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable70a9339a\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A42%3A10.9450248Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable70a9339a\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable70a9339a",
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttable70a9339a",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:42:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022PK\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022table@storage.com\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022Value\u0022: 100}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A42%3A11.5641352Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.cosmos.azure.com/uttable70a9339a(PartitionKey=\u0027PK\u0027,RowKey=\u0027table@storage.com\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/uttable70a9339a/$metadata#uttable70a9339a/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A42%3A11.5641352Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "table@storage.com",
        "Value": 100,
        "Timestamp": "2021-09-29T20:42:11.5641352Z"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttable70a9339a()?$filter=RowKey eq \u0027table@storage.com\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:42:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A42%3A11.5641352Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "table@storage.com",
            "Value": 100,
            "Timestamp": "2021-09-29T20:42:11.5641352Z"
          }
        ],
        "odata.metadata": "https://scbeddtablesprim.table.cosmos.azure.com/$metadata#uttable70a9339a"
      }
    },
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/uttable70a9339a(PartitionKey=\u0027PK\u0027,RowKey=\u0027table@storage.com\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Sep 2021 20:42:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://scbeddtablesprim.table.cosmos.azure.com/Tables(\u0027uttable70a9339a\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:42:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
