{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable83f0284c\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://scbeddtablesprim.table.core.windows.net/Tables(\u0027uttable83f0284c\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable83f0284c"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable83f0284c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022001\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022batch_merge\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022test\u0022: true, \u0022test2\u0022: \u0022value\u0022, \u0022test2@odata.type\u0022: \u0022Edm.String\u0022, \u0022test3\u0022: 3, \u0022test4\u0022: 1234567890, \u0022test5\u0022: \u00222021-09-30T03:05:49.399011Z\u0022, \u0022test5@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A05%3A50.2507194Z\u0027\u0022",
        "Location": "https://scbeddtablesprim.table.core.windows.net/uttable83f0284c(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_merge\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#uttable83f0284c/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A05%3A50.2507194Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_merge",
        "Timestamp": "2021-09-29T20:05:50.2507194Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-30T03:05:49.399011Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable83f0284c(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_merge\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-29T20%3A05%3A50.2507194Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#uttable83f0284c/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-29T20%3A05%3A50.2507194Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_merge",
        "Timestamp": "2021-09-29T20:05:50.2507194Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-30T03:05:49.399011Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_95c580ee-743e-4264-b313-e4c574362bfc",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF85NWM1ODBlZS03NDNlLTQyNjQtYjMxMy1lNGM1NzQzNjJiZmMNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfNWM0ZDRkYjUtNGIwZi00OGJiLWI1ZGYtZTIzYzEyYjY0NGE1DQoNCi0tY2hhbmdlc2V0XzVjNGQ0ZGI1LTRiMGYtNDhiYi1iNWRmLWUyM2MxMmI2NDRhNQ0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://scbeddtablesprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable83f0284c"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable83f0284c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 20:05:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
